In [1]:
import numpy as np

In [2]:
jeopardy_column = np.arange(200,1001,200)

In [3]:
jeopardy_seq = np.repeat(jeopardy_column,6)

In [4]:
jeopardy_board = np.reshape(jeopardy_seq,(5,6))

In [5]:
jeopardy_board

array([[ 200,  200,  200,  200,  200,  200],
       [ 400,  400,  400,  400,  400,  400],
       [ 600,  600,  600,  600,  600,  600],
       [ 800,  800,  800,  800,  800,  800],
       [1000, 1000, 1000, 1000, 1000, 1000]])

In [6]:
jeopardy_wagers = np.cumsum(jeopardy_seq)

In [13]:
jeopardy_seq

array([ 200,  200,  200,  200,  200,  200,  400,  400,  400,  400,  400,
        400,  600,  600,  600,  600,  600,  600,  800,  800,  800,  800,
        800,  800, 1000, 1000, 1000, 1000, 1000, 1000])

In [8]:
jeopardy_wagers[0:5] = 1000

In [10]:
jeopardy_wagers = np.concatenate(([1000],jeopardy_wagers))[:-1]

In [12]:
jeopardy_wagers

array([ 1000,  1000,  1000,  1000,  1000,  1000,  1200,  1600,  2000,
        2400,  2800,  3200,  3600,  4200,  4800,  5400,  6000,  6600,
        7200,  8000,  8800,  9600, 10400, 11200, 12000, 13000, 14000,
       15000, 16000, 17000])

In [14]:
totals = []
for dd_i in range(30):
    game_seq = jeopardy_seq.tolist()
    game_seq[dd_i] = jeopardy_wagers[dd_i]
    totals.append(sum(game_seq))

In [15]:
jeopardy_seq

array([ 200,  200,  200,  200,  200,  200,  400,  400,  400,  400,  400,
        400,  600,  600,  600,  600,  600,  600,  800,  800,  800,  800,
        800,  800, 1000, 1000, 1000, 1000, 1000, 1000])

In [17]:
np.mean(totals)

23800.0

In [18]:
def play_jeopardy(seq,dd_i):
    total = 0
    for i,val in enumerate(seq):
        if i == dd_i:
            if total < 1000:
                total += 1000
            else:
                total += total
        else:
            total += val
    return total

In [20]:
play_jeopardy(jeopardy_seq.tolist(),29)

34000

In [24]:
totals_v2 = [play_jeopardy(jeopardy_seq.tolist(),dd_i) for dd_i in range(30)]

In [25]:
np.mean(totals_v2)

23800.0